body {
  margin: 0 auto;

  width: 100%;
  height: auto;
}
body::after {
  content: "";
  background-image: url(oldtools.jpeg);
  background-size: cover;
  background-position: center;

  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.oneTool {
  border: 1px solid black;
  width: 25%;
  border-radius: 15px;
  padding-top: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 7px rgba(255, 255, 255, 0.92);
  box-shadow: 0px 0px 15px 7px rgba(255, 255, 255, 0.92);
  margin-top: 1.6em;
}
main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 90%;
  flex-flow: wrap;
}
img {
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  padding-top: 1em;
  height: 40%;
}
.toolForm {
  font-size: 2em;
  text-align: center;
}
form {
  margin: 0 auto;
}
input {
  font-size: 0.8em;
  width: 30%;
  margin: 10px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 3.5em;
  background-color: #395b91;
}
.nav h2 {
  color: white;
  margin: 0.7em;
}
